<div class="wrapper">
    <header class="main-header">
        {{#link-to 'dashboard' class="logo"}}
            <span class="logo-mini"><i class="fa fa-flask"></i></span>
            <span class="logo-lg"><i class="fa fa-flask"></i> Chemdex</span>
        {{/link-to}}

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" role="button" {{action "collapseSidebar"}}>
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="http://placehold.it/160x160" class="user-image" alt="User Image">
                            <span class="hidden-xs">Austin Burdine</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">
                                <p>
                                    Austin Burdine - Admin
                                    <small>Admin</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    {{#link-to "profile" class="btn btn-default btn-flat"}}Profile{{/link-to}}
                                </div>
                                <div class="pull-right">
                                    {{#link-to "signout" class="btn btn-default btn-flat"}}Sign Out{{/link-to}}
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <form class="sidebar-form">
                <div class="input-group">
                    {{input type="text" name="search" class="form-control" placeholder="Search..."}}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-flat" {{action 'search'}}>
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>

            <ul class="sidebar-menu">
            </ul>
        </section>
    </aside>


    {{outlet}}
</div>
